/* header */
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.header {
}

.header_navigation {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo_span {
  color: #2e2f42;
}

.header_list {
}

.header_item_a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header_item_a:hover,
.header_item_a:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address_list {
}

.address_item_a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.address_item_a:hover,
.address_item_a:focus {
  color: #404bbf;
}

/* order-service */
.order-service {
  background-color: #2e2f42;
}

.order-service_heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 600px;
}

.order-service_button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: #4d5ae5;
}
.order-service_button:hover,
.order-service_button:focus {
  background-color: #404bbf;
}

/* Qualities */
.qualities {
}
.qualities_heading {
  visibility: hidden;
}

.qualities_list {
}

.qualities_item {
}

.qualities_item_heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.qualities_item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* our-team */
.our-team {
  background: #f4f4fd;
}
.our-team_heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-team_list {
}
.our-team_item {
  background: #fff;
}
.our-team_item_img {
}
.our-team_item_heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team_item_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

/*  Our Portfolio */
.our-portfolio {
}
.our-portfolio_heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-portfolio_list {
}
.our-portfolio_items {
}
.our-portfolio_items_img {
}
.our-portfolio_items_heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-portfolio_items_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

/* footer */
.footer {
  background: #2e2f42;
}

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_logo_span {
  color: #f4f4fd;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
