/* header */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  width: 1440px;
  border: 1px solid rgb(0, 255, 51);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 156px;
}
.header_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo span {
  color: #4d5ae5;
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header_item a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.address_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.address_item a {
  font-style: normal;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* orderService */
.orderService {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 188px 472px;
  flex-direction: column;
}

.orderService_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  display: inline;
  max-width: 600px;
}

.orderService_button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;
}
/* Qualities */
.qualities {
}
.qualities_heading {
  position: absolute;
  visibility: hidden;
}

.qualities_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 120px 156px;
}
.qualities_item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 264px;
  height: 104px;
}
.qualities_item_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.qualities_item_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ourTeam */
.ourTeam {
  padding: 120px 156px;

  background: #f4f4fd;
}
.ourTeam_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.ourTeam_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.ourTeam_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;

  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.ourTeam_item_img {
}
.ourTeam_item_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.ourTeam_item_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/*  Our Portfolio */
.our-Portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  padding: 120px 0;
}
.our-Portfolio_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.our-Portfolio_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.our-Portfolio_items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.our-Portfolio_items_img {
}
.our-Portfolio_items_heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-Portfolio_items_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */
.footer {
  background: #2e2f42;
  padding: 100px 156px;

  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
  gap: 16px;
}

.footer_logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer_logo_span {
  color: #f4f4fd;
}

.footer_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;

  width: 264px;
}
